<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Withdraw</title>
</head>
<body>
<form  action="#"
       th:action="@{/withdrawprocess/{id}}"
       th:object="${account}"
       method="post"

       >
    <input type="hidden" th:field="*{id}" />
    Amount:<input type="number" th:field="*{amount}">
    <span th:if="${#fields.hasErrors('amount')}"
          th:errors="*{amount}"></span><br />

    <input type="submit" value="Done">

</form>
</body>
</html>